@import '../../data.scss';

.WeeklyForecast {
  padding: 1rem;
  grid-column: span 2;
  grid-row: span 3;
  border-radius: $borderRadius;
  background-color: $backgroundColor;
  backdrop-filter: blur(8px);


  h4 {
    padding-bottom: 1rem;
    @include panelCaption();
  }

  .ForecastList {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}