@import '../../data.scss';

.HourlyPanel {
  @include flexDisplay(row, flex-start, 1.5rem);
  padding: 1rem;
  border-radius: $borderRadius;
  background-color: $backgroundColor;
  backdrop-filter: blur(8px);
  grid-column: span 4;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  } 
}